# Ignore build artifacts
target/
project/target/
project/project/

# IDE and OS files
.idea/
.vscode/
*.iml
.DS_Store

# Logs and dependencies
logs/
lib_managed/

data/sorted_logfile.csv

lib/

.venv/
__pycache__